/* Webpage in maintenance */
/*body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
*/

* {-webkit-font-smoothing: antialiased;
  margin: 0;
	padding: 0;
	box-sizing: border-box}

.masthead {
  height: 100vh;
  min-height: 500px;
  /*background: linear-gradient(
  to right, rgba(0 0 0 / 0.7),rgba(0 0 0 / 0)), url('homepageheader.png');*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(homepageheader.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: #e9edf8;
  text-shadow: 0.1em 0.1em 0.2em #282828;
}

h2, h3, h4, h5, h6, p, li {
  color: #2b4f71;
}

/*

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*//*
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #e9edf8;
}

.navbar-light {
  border-bottom: 2px solid #c9cfdf;
}

.footer {
  background-color: #657a97;
  width: 100%;
  color: #fffdfa;
  padding-top: 1.5em;
  border-top: 2px solid #c9cfdf;
}

.txt-railway {
  font-size: 14px;
  color: #e9edf8
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #e9edf8;
  outline: 2px solid #e9edf8;
  padding: 10px 30px;
  overflow: hidden;
  transition: color 1s;
  z-index: 0;
}

.button:hover {
  color: #e9edf8;
  text-decoration: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #2b4f71;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.button:hover::before {
  transform: scaleX(1) skewX(35deg);
}

/*

.button {
  background-color: #ffffff;
  border: 1px solid #989898;
  border-radius: 12px;
  box-shadow: 0 0 4px #282828;
  color: #000;
  padding: 6px 14.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  transition: all 0.3s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

*/

.experience ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.experience ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}

.skills ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.skills ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}

hr {
  border: 1px solid #c9cfdf;
}

.vl {
  border-left: 6px solid #657a97;
  height: 35px;
  position: absolute;
}

.vl2 {
  border-left: 6px solid #657a97;
  height: 35px;
  position: absolute;
}

.vl3 {
  border-left: 6px solid #657a97;
  height: 35px;
  position: absolute;
}

.experience h3{
  margin-left: 1em;
}

.title h3 {
  margin-left: 1em;
}

.tab {
  margin-left: 1em;
}

.lead a {
  color:#fffdfa;
}

.lead a:hover {
  color: #c9cfdf;
  text-decoration: none;
  font-weight: 800;
}

li {
  line-height: 2;
}

:root {
  --mainColor: #657a97;
}

.navbar-nav .nav-item .nav-link .nav-item.active{
  color: var(--mainColor);
  text-decoration: none;
}
.nav-item:hover .nav-link{
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
  transition: all 0.6s ease-in-out;
}

@supports not(-webkit-text-stroke: 2px red) {
  .nav-item:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

.scrollToTopBtn {
  background-color: #c9cfdf;
  border-radius: 50%;
  border: none;
  color: #657a97;
  cursor: pointer;
  font-size: 16px;
  line-height: 46px;
  width: 46px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.scrollToTopBtn:hover {
  background-color: #2b4f71;
  color: #e9edf8;
}

.social {
  display: inline-block;
  position: relative;
  list-style: none;
  text-decoration: none;
}

.social li {
  display: inline-flex;
}

.social li a {
  width: 72px;
  height: 72px;
  background-color: #e9edf8;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  margin:0 0px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fffdfa;
  z-index: 1;
}

.social li a .icon {
  position: relative;
  color: #657a97;
  transition: .5s;
  z-index: 3;
}

.social li a:hover .icon {
  color:#fffdfa;
  transform: rotateY('360deg');
}

.social li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social li a:hover:before {
  top: 0;
}

.social li:nth-child(1) a:before {
  background: #3b5999;
}

.social li:nth-child(2) a:before {
  background: #55acee;
}

.social li:nth-child(3) a:before {
  background: #0077b5;
}

.social li:nth-child(4) a:before {
  background: #dd4b39;
}

.container-kard {
	max-width: 110rem;
	padding: 1.5rem;
}

.container-kard a {
  text-decoration: none;
  color: inherit;
}
.kards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	grid-gap: 1.5rem;
}
.kard {
	background: #657a97;
	color: #c9cfdf;
	padding: 1.5rem;
	overflow: hidden;
	border-radius: 0.8rem;
  box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.kard-title-large {
	font-family: 'Anton', sans-serif;
	font-size: 3.0rem;
	letter-spacing: 0.2rem;
	color: #c9cfdf;
    user-select: none;
	transform: translateX(7rem);
	transition: transform 2.5s;
}
.kard-title-small {
	margin-bottom: 1rem;
  color: #c9cfdf;
}
.kard-description {
	font-size: 1.3rem;
	line-height: 1.2;
  color: #c9cfdf;
}
.kard-cta {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	display: grid;
	place-items: center;
	margin-left: auto;
}
.kard:hover .kard-cta {
	background-color: #011f44;
}
.kard:hover .kard-title-large {
	transform: translateX(-115%);
	color: #e9edf8;
}
.kard.twitter:hover {
	background-color: #192749;
}
.kard.instagram:hover {
	/*background: radial-gradient(
		at 20% 128%,
		#feda78 20%,
		#e23467 60%,
		#ac2bb3 90%
	)*/ background-color: #a70925;
}
.kard.facebook:hover {
	background-color: rgb(21, 122, 21, 1);
}
.kard.youtube:hover {
	background-color: #ff074f;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
  box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #657a97;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #e9edf8;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #e9edf8;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #e9edf8;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #c9cfdf;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #282828;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.container-flip {
  text-align: center;
}

.flip {
  display: inline-block;
	width: 260px;
	height: 250px;
	perspective: 800px;
}

.flip__inner {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.flip:hover .flip__inner {
	transform: rotateY(180deg);
}
.flip__body {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	backface-visibility: hidden;
	border-radius: 8px;
	box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.flip__body--front {
	/*background-image: radial-gradient(
		circle 248px at center,
		#16d9e3 0%,#30c7ec 47%,
		#46aef7 100%
	);*/
  background-color: #657a97;
}
.flip__body--back {
	/*background-image: linear-gradient(
		-20deg, #fc6076 0%,
		 #ff9a44 100%);*/
  background-color: #c9cfdf;
	transform: rotateY(180deg);
}

.flip__title {
  color: #e9edf8;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 30px 0;
}
.container-skills .skillCard {
  position: relative;
  width: 260px;
  height: 400px;
  margin: 0 auto;
  background: #c9cfdf;
  border-radius: 15px;
}
.container-skills .skillCard .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-skills .skillCard .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.container-skills .skillCard .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.container-skills .skillCard .face.face1 .java {
  background-color: #2b4f71;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-skills .skillCard .face.face1 .python {
  background-color: #2b4f71;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-skills .skillCard .face.face1 .cSharp {
  background-color: #2b4f71;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-skills .skillCard .face.face2 {
  transition: 0.5s;
}
.container-skills .skillCard .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 2.2em;
  color: #e9edf8;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.container-skills .skillCard:hover .face.face2 {
  height: 60px;
}
.container-skills .skillCard:hover .face.face2 h2 {
  font-size: 2em;
}
.container-skills .skillCard:nth-child(1) .face.face2 {
  /*background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);*/
  background-color: #657a97;
  border-radius: 15px;
}
.container-skills .skillCard:nth-child(2) .face.face2 {
  /*background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%);*/
  background-color: #657a97;
  border-radius: 15px;
}
.container-skills .skillCard:nth-child(3) .face.face2 {
  /*background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);*/
  background-color: #657a97;
  border-radius: 15px;
}

.container-skills .skillCard:nth-child(4) .face.face2 {
  /*background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);*/
  background-color: #657a97;
  border-radius: 15px;
}