:root {
  /**
   * colors
   */

   --white: hsla(0, 0%, 100%, 1);
   --white_a8: hsla(0, 0%, 100%, 0.08);
   --white_a12: hsla(0, 0%, 100%, 0.12);
   --cultured: hsla(220, 20%, 97%, 1);
   --snow: hsla(345, 57%, 97%, 1);
   --manatee: hsla(219, 10%, 62%, 1);
   --black-coral: hsla(220, 12%, 43%, 1);
   --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
   --cinnamon-satin: hsla(344, 53%, 62%, 1);
   --raisin-black: hsla(216, 14%, 14%, 1);
   --raisin-black_a6: hsla(216, 14%, 14%, 0.06);
   --gunmetal: hsla(214, 15%, 21%, 1);
   --charcoal: hsla(219, 22%, 26%, 1);
 
   /**
    * typography
    */
 
   --ff-manrope: 'Manrope', sans-serif;
 
   --fs-1: calc(2.7rem + 1.38vw);
   --fs-2: calc(2.6rem + .66vw);
   --fs-3: calc(2.6rem + .24vw);
   --fs-4: 1.9rem;
   --fs-5: 1.8rem;
   --fs-6: 1.7rem;
   --fs-7: 1.5rem;
   --fs-8: 1.4rem;
   
   --fw-700: 700;
 
   /**
    * spacing
    */
 
   --section-padding: 90px;
 
   /**
    * box shadow
    */
 
   --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
   --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);
 
   /**
    * border radius
    */
 
   --radius-circle: 50%;
   --radius-pill: 100px;
   --radius-8: 8px;
   --radius-6: 6px;
 
   /**
    * transition
    */
 
   --transition-1: 0.25s ease;
   --transition-2: 0.5s ease;
   --transition-3: 0.3s ease-in-out;
}

* {-webkit-font-smoothing: antialiased;
  margin: 0;
	padding: 0;
	box-sizing: border-box}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-reveal] {
  opacity: 0;
  transition: 0.75s ease;
}

[data-reveal="top"] { transform: translateY(-30px); }

[data-reveal="bottom"] { transform: translateY(30px); }

[data-reveal="left"] { transform: translateX(-30px); }

[data-reveal="right"] { transform: translateX(30px); }

[data-reveal].revealed {
  transform: translate(0);
  opacity: 1;
}

html { scroll-behavior: smooth; } 

/*
.masthead {
  height: 100vh;
  min-height: 500px;
  /*background: linear-gradient(
  to right, rgba(0 0 0 / 0.7),rgba(0 0 0 / 0)), url('homepageheader.png');*//*
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(homepageheader.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: #e9edf8;
  text-shadow: 0.1em 0.1em 0.2em #282828;
}*/

.hero {
  padding-block-start: calc(var(--section-padding) + 50px);
  background-color: #e9edf8;
}

.hero .container-hero {
  display: grid;
  gap: 50px;
}


.hero-banner {
  position: relative;
  max-width: max-content;
  margin-inline: auto;
}

.hero-title {
  color: #2b4f71;
}

h1.hero-title {
  font-size: var(--fs-3);
}
/*
.hero-banner .w-100 {
  mask-image: url("blob.svg");
  -webkit-mask-image: url("work_desk.jpg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: auto;
  -webkit-mask-size: auto;
}*/
.w-100 { width: 100%; border-radius: 50px; border: 2px solid #fffdfa;}

img { height: auto; }

.section-text { font-size: var(--fs-6); }

.section-title { margin-block-end: 16px; }

.hero .shape {
  position: relative;
  bottom: 10%;
  filter: drop-shadow(var(--shadow-2));
}

.hero-content { text-align: center; }

.hero .section-text { margin-block: 24px 36px; color: #657a97;}

.btn {
  color: #e9edf8;
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  border: 2px solid #c9cfdf;
  max-width: max-content;
  padding: 12px 28px;
  border-radius: var(--radius-pill);
  transition: 0.25s ease;
  will-change: transform;
}

.btn:is(:hover, :focus-visible) { transform: translateY(-4px); background-color: #2b4f71; border: 2px solid #657a97;}

.btn-primary,
.btn-secondary:is(:hover, :focus-visible) {
  background-color: #2b4f71;
  color: var(--white);
}

.btn-secondary {
  background-color: #657a97;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero { padding-block-start: calc(var(--section-padding) + 80px); }

.hero-content { text-align: center; }

.hero .container { grid-template-columns: 1fr 0.8fr; }


h2, h3, h4, h5, h6, p, li {
  color: #2b4f71;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

 @media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container-hero {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

}


/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */

  .container-hero { max-width: 720px; }

  .section-text { --fs-5: 2rem; }

}


/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 120px;

  }



  /**
   * REUSED STYLE
   */

  .container-hero { max-width: 960px; }

  /**
   * HERO
   */

  .hero { padding-block-start: calc(var(--section-padding) + 80px); }

  .hero .container-hero {
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    gap: 100px;
  }

  .hero-content { text-align: left; }

  .hero .btn-wrapper { justify-content: flex-start; }

}


/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */

  .container-hero { max-width: 1140px; }

}


/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * REUSED STYLE
   */

  .container-hero { max-width: 1320px; }



  /**
   * HERO
   */

  .hero .container-hero { grid-template-columns: 1fr 0.8fr; }

  .hero .section-text { --fs-5: 2.4rem; }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --mainColor: #657a97;
}

.navbar-nav .nav-item .nav-link .nav-item.active{
  color: var(--mainColor);
  text-decoration: none;
} 
.nav-item:hover .nav-link{
  color: transparent;
  -webkit-text-stroke: 1px var(--mainColor);
  transition: all 0.3s ease-in;
}

@supports not(-webkit-text-stroke: 2px red) {
  .nav-item:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

nav {
  background-color: #e9edf8;
}

a.navbar-brand {
  font-size: 1.2em;
}

li.nav-item {
  font-size: 1.1em;
}

li.nav-item.active {
  font-weight: 500;
}

.navbar-light {
  border-bottom: 2px solid #c9cfdf;
}

.footer {
  background-color: #657a97;
  width: 100%;
  color: #fffdfa;
  padding-top: 1.5em;
  border-top: 2px solid #c9cfdf;
}

.txt-railway {
  font-size: 14px;
  color: #e9edf8
}
/*

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #282828;
  background-color: #c9cfdf;
  outline: 2px solid #657a97;
  padding: 10px 30px;
  overflow: hidden;
  transition: color 1s;
  z-index: 0;
}

.button:hover {
  color: #e9edf8;
  text-decoration: none;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  z-index: -1;
  width: 150%;
  height: 100%;
  background-color: #2b4f71;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  transition: transform 1s;
}

.button:hover::before {
  transform: scaleX(1) skewX(35deg);
}

/*

.button {
  background-color: #ffffff;
  border: 1px solid #989898;
  border-radius: 12px;
  box-shadow: 0 0 4px #282828;
  color: #000;
  padding: 6px 14.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  transition: all 0.3s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

*/

.experience ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.experience ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}

.skills ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.skills ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}

hr {
  border: 1px solid #c9cfdf;
}

.vl {
  border-left: 6px solid #657a97;
  height: 35px;
  position: absolute;
}

.vl2 {
  border-left: 6px solid #657a97;
  height: 35px;
  position: absolute;
}

.vl3 {
  border-left: 6px solid #657a97;
  height: 35px;
  position: absolute;
}

.experience h3{
  margin-left: 1em;
}

.title h3 {
  margin-left: 1em;
}

.tab {
  margin-left: 1em;
}

.lead a {
  color:#fffdfa;
}

.lead a:hover {
  color: #c9cfdf;
  text-decoration: none;
  font-weight: 800;
}

li {
  line-height: 2;
}

.scrollToTopBtn {
  background-color: #c9cfdf;
  border-radius: 50%;
  border: none;
  color: #657a97;
  cursor: pointer;
  font-size: 16px;
  line-height: 46px;
  width: 46px;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.scrollToTopBtn:hover {
  background-color: #2b4f71;
  color: #e9edf8;
}

.social {
  display: inline-block;
  position: relative;
  list-style: none;
  text-decoration: none;
}

.social li {
  display: inline-flex;
}

.social li a {
  width: 72px;
  height: 72px;
  background-color: #e9edf8;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  margin:0 0px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fffdfa;
  z-index: 1;
}

.social li a .icon {
  position: relative;
  color: #657a97;
  transition: .5s;
  z-index: 3;
}

.social li a:hover .icon {
  color:#fffdfa;
  transform: rotateY('360deg');
}

.social li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social li a:hover:before {
  top: 0;
}

.social li:nth-child(1) a:before {
  background: #3b5999;
}

.social li:nth-child(2) a:before {
  background: #55acee;
}

.social li:nth-child(3) a:before {
  background: #0077b5;
}

.social li:nth-child(4) a:before {
  background: #dd4b39;
}

.container-kard {
	max-width: 110rem;
	padding: 1.5rem;
}

.container-kard a {
  text-decoration: none;
  color: inherit;
}
.kards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	grid-gap: 1.5rem;
}
.kard {
	background: #657a97;
	color: #c9cfdf;
	padding: 1.5rem;
	overflow: hidden;
	border-radius: 0.8rem;
  box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.kard-title-large {
	font-family: 'Anton', sans-serif;
	font-size: 3.0rem;
	letter-spacing: 0.2rem;
	color: #c9cfdf;
    user-select: none;
	transform: translateX(7rem);
	transition: transform 2.5s;
}
.kard-title-small {
	margin-bottom: 1rem;
  color: #c9cfdf;
}
.kard-description {
	font-size: 1.3rem;
	line-height: 1.2;
  color: #c9cfdf;
}
.kard-cta {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	display: grid;
	place-items: center;
	margin-left: auto;
}
.kard:hover .kard-cta {
	background-color: #657a97;
}

.kard:hover .kard-title-large {
	transform: translateX(-115%);
	color: #e9edf8;
}
.kard.twitter:hover {
	background-color: #192749;
}
.kard.instagram:hover {
	/*background: radial-gradient(
		at 20% 128%,
		#feda78 20%,
		#e23467 60%,
		#ac2bb3 90%
	)*/ background-color: #a70925;
}
.kard.facebook:hover {
	background-color: rgb(21, 122, 21, 1);
}
.kard.youtube:hover {
	background-color: #ff074f;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 20px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
  box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background: rgb(43,79,113);
  background: -moz-linear-gradient(45deg, rgba(43,79,113,1) 0%, rgba(101,122,151,1) 50%, rgba(201,207,223,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(43,79,113,1) 0%, rgba(101,122,151,1) 50%, rgba(201,207,223,1) 100%);
  background: linear-gradient(45deg, rgba(43,79,113,1) 0%, rgba(101,122,151,1) 50%, rgba(201,207,223,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b4f71",endColorstr="#c9cfdf",GradientType=1);

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #e9edf8;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #e9edf8;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #e9edf8;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #c9cfdf;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #282828;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

.container-flip {
  text-align: center;
}

.flip {
  display: inline-block;
	width: 260px;
	height: 250px;
	perspective: 800px;
}

.flip__inner {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}
.flip:hover .flip__inner {
	transform: rotateY(180deg);
}
.flip__body {
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	backface-visibility: hidden;
	border-radius: 8px;
	box-shadow: 0 5px 10px 
		rgba(0, 0, 0, 0.15);
}
.flip__body--front {
	/*background-image: radial-gradient(
		circle 248px at center,
		#16d9e3 0%,#30c7ec 47%,
		#46aef7 100%
	);*/
  background: rgb(43,79,113);
  background: -moz-linear-gradient(45deg, rgba(43,79,113,1) 0%, rgba(101,122,151,1) 50%, rgba(201,207,223,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(43,79,113,1) 0%, rgba(101,122,151,1) 50%, rgba(201,207,223,1) 100%);
  background: linear-gradient(45deg, rgba(43,79,113,1) 0%, rgba(101,122,151,1) 50%, rgba(201,207,223,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b4f71",endColorstr="#c9cfdf",GradientType=1);
}
.flip__body--back {
	/*background-image: linear-gradient(
		-20deg, #fc6076 0%,
		 #ff9a44 100%);*/
  background-color: #c9cfdf;
	transform: rotateY(180deg);
}

.flip__title {
  color: #e9edf8;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 30px 0;
}
.container-skills .skillCard {
  position: relative;
  width: 260px;
  height: 400px;
  margin: 0 auto;
  background: #c9cfdf;
  border-radius: 15px;
}
.container-skills .skillCard .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-skills .skillCard .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.container-skills .skillCard .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.container-skills .skillCard .face.face1 .java {
  background-color: #2b4f71;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-skills .skillCard .face.face1 .python {
  background-color: #2b4f71;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-skills .skillCard .face.face1 .cSharp {
  background-color: #2b4f71;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-skills .skillCard .face.face2 {
  transition: 0.5s;
}
.container-skills .skillCard .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 2.2em;
  color: #e9edf8;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.container-skills .skillCard:hover .face.face2 {
  height: 60px;
}
.container-skills .skillCard:hover .face.face2 h2 {
  font-size: 2em;
}
.container-skills .skillCard:nth-child(1) .face.face2 {
  /*background-image: linear-gradient(40deg, #fffc00 0%, #fc00ff 45%, #00fffc 100%);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(gmulogo.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.container-skills .skillCard:nth-child(2) .face.face2 {
  /*background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(it.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.container-skills .skillCard:nth-child(3) .face.face2 {
  /*background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(webdev.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.container-skills .skillCard:nth-child(4) .face.face2 {
  /*background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(gmuepicmovement.png);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.container-animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 150px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text span {
  text-transform: uppercase;
  padding: 0 0.3rem;
  font-size: 30px;
  animation: zoomup 1s ease-in;
  display: inline-block;
  animation-delay: calc(200ms * var(--i));
  color: #c9cfdf;
}

@keyframes zoomup {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2) translateY(-50px);
    filter: blur(1px);
    opacity: 0;
  }
}
